@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html {
    margin: 0px;
    padding: 0px;
    font-family: 'DM Mono', monospace;
}

body {
    margin: 30px 0px;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

.content {
    max-width: 50%;
}

@media only screen and (max-width: 800px) {
    .content {
    	max-width: 90%;
    }
}

